<!-- START:head -->
<!DOCTYPE html>
<html>
<head>

  <title>My Online Garage Sale</title>
  <%= stylesheet_link_tag "application" %><!-- <label id="code.slt"/> -->
  <%= javascript_include_tag "application" %><!-- <label id="code.jlt"/> -->
  <%= csrf_meta_tag %><!-- <label id="code.csrf"/> -->
</head>

<body class="<%= controller.controller_name %>">
  <div id="banner">
    <%= image_tag("logo.png") %>
    <%= @page_title || "Online Garage Sale" %><!-- <label id="code.depot.e.title"/> -->
  </div>
  <div id="columns">
    <div id="side">
    	<% if @cart %>
    		<%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
        	<%= render @cart %>
      	<% end %>
      <% end %>
    	
      <ul>
        <li><a href="http://www.ece.unm.edu">Home</a></li>
        <li><a href="http://www.ask.com/">Questions</a></li>
        <li><a href="http://www.slashdot.org">News</a></li>
        <li><a href="http://www.ece.unm.edu/faculty_Staff/AAA.html">Contact</a></li>
      </ul>
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>
</body>
</html>
